:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk";
  -webkit-user-select: none;
  user-select: none;
}

.bg-switch {
  transition: left 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#global-tooltip {
  z-index: 999999 !important;
}
